body {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    background: #000;
    color: #CCC;
    margin: 0px;
    text-align: center;
    text-shadow: 1px 1px 10px #777;
}
.title {
    position: absolute;
    top:50%;
    width: 100%;
    margin: -6.6em auto auto auto;
    font-size: 1.8em;
}
.footer {
    position: absolute;
    bottom: 5%;
    font-size: 0.8em;
    width: 100%;
    color: rgba(255, 255, 255, 0.4);
}
.share-links {
    position: relative;
    top: 3em;
}
.share-links a {
    display: inline-block;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}
a:link, a:visited, a:hover, a:active {
    color:rgba(150, 128, 128, 1);
    text-decoration: none;
}
.weibo {
    background-image: url('weibo_icon/weibo_gary.gif');
}
.weibo:hover {
    background-image: url('weibo_icon/weibo_color.gif');
}
.github {
    height: 48px !important;
    width: 48px !important;
    margin: 8px;
    background-image: url('github_icon/GitHub-Mark-gary-64px.png');
}
.github:hover {
    background-image: url('github_icon/GitHub-Mark-Light-64px.png');
}
#count-down {
    color: #555;
    font-size: 0.7em;
}